/* Write your CSS here */
.bg-container {
  background-color: #ffc2a0;
  min-height: 100vh;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.card {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 15px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 35px;
  color: #ff8542;
  text-align: center;
}
